<!--
  Generated template for the InventarisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="cssRedMedium">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inventaris</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  <div id="SearchBar">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Cari barang..."></ion-searchbar>
  </div>

  <div [hidden]="search == true">
    <div class="card" (click)="detail(inventaris)" *ngFor="let inventaris of inventarises">
      <ion-row>
        <ion-col col-6 class="cont1">
          <div class="cont1a">{{inventaris.item_name}}</div>
          <div class="cont1b">{{inventaris.supplier_name}}</div>
        </ion-col>
        <ion-col col-6>
          <div class="cont2a">Rp. {{inventaris.costumer_price}}</div>
          <div class="cont2b">Stock {{inventaris.item_stock}}</div>  
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div [hidden]="search == false">
    <div class="card" (click)="detail(inventaris)" *ngFor="let inventaris of list_search">
      <ion-row>
        <ion-col col-6 class="cont1">
          <div class="cont1a">{{inventaris.item_name}}</div>
          <div class="cont1b">{{inventaris.supplier_name}}</div>
        </ion-col>
        <ion-col col-6>
          <div class="cont2a">Rp. {{inventaris.costumer_price}}</div>
          <div class="cont2b">Stock {{inventaris.item_stock}}</div>  
        </ion-col>
      </ion-row>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-12>
      <button ion-button block color="cssRedMedium" (click)="addInventaris()">
        Tambah
      </button>
    </ion-col>
  </ion-row> 
</ion-footer>
