<!--
  Generated template for the LaporanPenjualanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="cssRedMedium">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Laporan Penjualan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
  <form #filterReport="ngForm" novalidate>
    <div class="row">
      <div col-4>
        <ion-item>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="reportTanggal" #name="ngModel" name="reporttanggal"  class="inputSelect tanggal" placeholder="Tanggal"></ion-datetime>
        </ion-item>
      </div>
      <div col-4>
        <ion-item>
          <ion-select [(ngModel)]="idSupplier" #name="ngModel" name="idsupplier" placeholder="Supplier" item-width="40px" class="inputSelect" >
            <ion-option value="-1">All</ion-option>
            <div *ngFor="let supplier of suppliers">
              <ion-option value={{supplier.supplier_id}}>{{supplier.supplier_name}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
      </div>
      <div col-4>
        <button ion-button block color="cssRedMedium" (click)="addFilter(filterReport)">Terapkan</button>
      </div>
    </div>
  </form>
  <div id="container">
    <div id="content">
      <ion-row>
        <ion-col col-1 class="borderHead">ID Transaksi</ion-col>
        <ion-col col-1.5 class="borderHead">Waktu Transaksi</ion-col>
        <ion-col col-1.5 class="borderHead">Nama Barang</ion-col>
        <ion-col col-1.5 class="borderHead">Supplier</ion-col>
        <ion-col col-1.5 class="borderHead">Harga</ion-col>
        <ion-col col-1.5 class="borderHead">Jumlah Barang</ion-col>
        <ion-col col-1.5 class="borderHead">Keuntungan</ion-col>
        <ion-col col-2 class="borderHead">Uang Masuk</ion-col>
      </ion-row>
      <ion-row *ngFor="let report of reports">
        <ion-col col-1 class="borderCont">{{report.transaction_id}}</ion-col>
        <ion-col col-1.5 class="borderCont">{{report.transaction_date}}</ion-col>
        <ion-col col-1.5 class="borderCont">{{report.item_name}}</ion-col>
        <ion-col col-1.5 class="borderCont">{{report.supplier_name}}</ion-col>
        <ion-col col-1.5 class="borderCont">{{report.costumer_price}}</ion-col>
        <ion-col col-1.5 class="borderCont">{{report.total_item}}</ion-col>
        <ion-col col-1.5 class="borderCont">{{(report.costumer_price - report.supplier_price)*report.total_item}}</ion-col>
        <ion-col col-2 class="borderCont">{{report.costumer_price*report.total_item}}</ion-col>
      </ion-row>
    </div>
  </div>
  <div class="footer">
    <ion-row >
      <ion-col col-6>Total Jumlah Barang</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-5>{{totalBarang}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Total Uang Masuk</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-5>Rp. {{uangMasuk}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Total Keuntungan</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-5>Rp. {{totalUntung}}</ion-col>
    </ion-row>
  </div>

</ion-content>

<ion-footer [hidden]="sort == true">
    <button ion-button block color="cssRedMedium" (click)='download()'>Cetak Laporan</button>
  </ion-footer>
