page-riwayat-return {
    .borderHead{
        border: 0.1vw solid black;
      }
  
    .borderCont{
        border: 0vw 0.1vw 0vw 0.1vw solid black;
    }

    .content{
        position: relative;
        background-position-x: 0mm;
        text-align: center;
        background: white;
        border: 0.1vw solid black;
    }

    .background{
        background-color: $cssMainBackground;
        background-repeat:  no-repeat;
        background-size: cover;
    }
}
