page-pembelian {
    .background{
        background-color: $cssMainBackground;
        background-repeat:  no-repeat;
        background-size: cover;
    }

    .main{
        background-color: transparent;
        margin: 2vw;
        
    }

    .contents{
        background-color: white;
        margin-top: 2%;
        border: 0.1vw solid black;
    }

    .items{
        font-size: 4vw;
        text-align: center;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .price{
        font-size: 4vw;
        text-align: center;
        display: flex!important; //ilmu midle vertical
        align-content: center!important;
        align-items: center!important;
    }

    .stock{
        font-size: 4vw;
        text-align: center;
        
    }

    input{
        height: 10vw;
        background-color: black;
        border: black solid 0.2vw;
        margin: 0;
        font-size: 4vw;
        text-align: center;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    ion-col{
        height: 20vw;
    }

    .nilai{
        font-size: 3vw;
        padding: 3vw;
        margin: 0vw 4.5vw;
        border: 0.1vw solid black;
    }

    .buttonHarga{
        font-size: 7vw;
    }
}
